<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132279082013-7ttqlhr3le716mdf15a20ql469n48nls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132279082013-7ttqlhr3le716mdf15a20ql469n48nls</string>
	<key>API_KEY</key>
	<string>AIzaSyB2u-YLbmtHoGXOGbrgzTOIHGHZyJbAHcw</string>
	<key>GCM_SENDER_ID</key>
	<string>132279082013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirstproject</string>
	<key>PROJECT_ID</key>
	<string>myfirstproject-f56f9</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstproject-f56f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132279082013:ios:20af6d83b21e59f7fcbaf4</string>
</dict>
</plist>